<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vaseis</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <!-- Section of class login-dark located in assets -->
    <section class="login-dark">
        <%- include("navbar.ejs")%>
        
        <!-- Grid-Form tha contains some options(divs). Each one contains a header, some text and a "Go" button
            When "Go" button is clicked link to corresponding page-->
        <form method="post" style="max-width: fit-content;">
            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center">
                <h1>Choose use case:</h1>
            </div>
            <div class="row">
                <%- include("card.ejs",{question: "3.1.a", header: "Programs",message: "See all available programs.",link: "/programs" }) %>
                <%- include("card.ejs",{question: "3.1.b", header: "Projects",message: "See available projects.",link: "/projects" }) %>
                <%- include("card.ejs",{question: "3.2.a", header: "Projects per Researcher",message: "See for every researcher the projects they are involved with.",link: "/view_one" }) %>
            </div>
            <div class="row">
                <%- include("card.ejs",{question: "3.2.b", header: "Projects & Organisations per Program",message: "See which projects and organisations are involved for every program.",link: "/view_two" }) %>
                <%- include("card.ejs",{question: "3.4", header: "Same Num of Projects", message: "See which organisations got the same number of projects in two years with more than 10 per year.", link: "/same_num_of_projects" }) %>
            </div>
            <div class="row">
                <%- include("card.ejs",{question: "3.3", header: "Scientific Field",message: "Search based on scientific field",link: "/field" }) %>
                <%- include("card.ejs",{question: "3.5", header: "Top Scientific Field Pairs", message: "See the 3 top pairs of scientific fields in projects.", link: "/top_pairs" }) %>
                <%- include("card.ejs",{question: "3.6", header: "Young researchers", message: "See young researchers working in multiple projects.", link: "/new_res" }) %>
            </div>
            <div class="row">
                <%- include("card.ejs",{question: "3.7", header: "Top Executives", message: "See top 5 executives that have given the biggest amount of founding to some company.", link: "/top_execs" }) %>
                <%- include("card.ejs",{question: "3.8", header: "Hardworkers", message: "See the researchers working in at lesat 5 projects with no delivry work.", link: "/res_mt5" }) %>
            </div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>